<head>
  <link rel="stylesheet" href="/assets/styles/_header.css">
</head>

<div class="navbar">
  <div class="logo">
    <a href="/">BeliKopi.co.id</a>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/login">Login</a>
  </nav>
</div>