<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <%- include('partials/_header') %>
    
    <h1>Log In</h1>
    <hr>
    <form action="/login" method="POST">
        <label for="email">Email : </label><br>
        <input type="email" name="email"><br><br>
        <label for="password">Password : </label><br>
        <input type="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
    <p>Please sign up <a href="/signup">here</a>. If you don't have an account</p>
    
    <hr>
    <% if (err) { %>
     <div style="color: red;"><strong><%= err %></strong></div>
     <!-- <hr> -->
    <% } %>
</body>
</html>